<a href="/pets">View All Pets</a>
<a href="/shelters">View All Shelters</a>

  <h2>Edit information here</h2>
<%= form_tag "/shelters/#{@shelter.id}", method: :patch do %>
  <%= label_tag "Name:" %><br/>
  <%= text_field_tag :name %><br/>
  <%= label_tag "Address:" %><br/>
  <%= text_field_tag :address %><br/>
  <%= label_tag "City:" %><br/>
  <%= text_field_tag :city %><br/>
  <%= label_tag "State:" %><br/>
  <%= text_field_tag :state%><br/>
  <%= label_tag "Zip Code:" %><br/>
  <%= text_field_tag :zip %><br/><br/>
  <%= submit_tag "Submit" %>
<% end %>
