<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>

<div class="topnav">
  <a href="/shelters">View All Shelters</a>
  <a href="/pets">View All Pets</a>
</div>

<div style="padding-left:16px">
<div>
  <h1><a href="/shelters/<%= @shelter.id %>"style="text-decoration: none"><%= @shelter.name %></a></h1>
    <p>Address: <%= @shelter.address %></p>
    <p>City: <%= @shelter.city %></p>
    <p>State: <%= @shelter.state %></p>
    <p>Zip Code: <%= @shelter.zip %></p>
</div>
<a href="/shelters/<%= @shelter.id %>/pets">View Pet's Available at This Location</a><br><br>
<a href="/shelters/<%= @shelter.id %>/edit">Update Shelter</a>
<br></br>
<form action="/shelters/<%= @shelter.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Shelter"/>
</form>
</div>

</body>
</html>
