<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>

<div class="topnav">
  <a href="/shelters">View All Shelters</a>
  <a href="/pets">View All Pets</a>
</div>

<div style="padding-left:16px">
  <h2> Pet information </h2>
  <p><img src="<%= @pet.image %>" alt="Pet Image" style="width:400px;height:300px;"></p>
  <p>Name: <a href="/pets/<%= @pet.id %>"style="text-decoration: none"><%= @pet.name %></a></p>
  <p>Description: <%= @pet.description %></p>
  <p>Age: <%= @pet.age %></p>
  <p>Sex: <%= @pet.sex %></p>
  <p>Status: <%= @pet.adoption_status %></p>

  <a href="/pets/<%= @pet.id %>/edit">Update Pet</a>
  <br></br>
  <form action="/pets/<%= @pet.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Pet"/>
  </form>
</div>

</body>
</html>
